@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
  font-family: Nunito Sans;
}


/*.nav-text:hover{
  color: #FFFFFF;
  border-bottom: 1px solid #FDB833;
}*/
